.card img{
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.card{
  border: 1px solid rgba(72, 72, 72, 0.167);
  box-shadow: 10px 10px 10px rgba(86, 86, 86, 0.479);
  padding: 20px 20px;
  margin: 20px 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 200px;
}
.card .tittle{
  font-family: Arial, sans-serif;
}
.card .para{
  font-size: 10px ;
  color: grey;
  font-family: sans-serif;
}
.button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(222, 77, 77);
  color: white ;
  cursor: pointer;
}
.familymembers{
  border: 1px solid grey;
  padding: 20px ;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  
}


